@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/** Home Page **/

body {
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 0;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

@media (min-width: 979px) {
    body {
        padding-top: 60px;
    }
}

ul {
    list-style: none;
}


/** Login Page **/

#login {
    padding-top: 40px;
    padding-bottom: 40px;
}

#login .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#login .form-signin .form-signin-heading,
#login .form-signin .checkbox {
    margin-bottom: 10px;
}

#login .form-signin input[type="text"],
#login .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}


/** 2 level sub menu **/

.dropdown-menu-with-subs .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu-with-subs li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


/** Global **/

#content {
    margin-left: 0px;
}

.hide-sidebar,
.show-sidebar {
    cursor: pointer;
}

.padd-bottom {
    margin-bottom: 5px;
}

.breadcrumb {
    margin: 0 0 0px;
    padding: 10px 0px;
    background-color: transparent;
}

.block {
    border: 1px solid #ccc;
    background: white;
    margin: 1em 0em;
    border-top: none;
}

.block-content {
    margin: 1em;
    min-height: .25em;
}

.block-header {
    margin-bottom: 0px;
    border-right: none;
    border-left: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.block-header div {
    padding-top: 10px;
}

.easyPieChart {
    margin: 0px auto;
}

.chart-bottom-heading {
    margin-top: 5px;
    text-align: center;
}


/** Side Bar **/

.bs-docs-sidenav {
    max-width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.bs-docs-sidenav>li>a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.bs-docs-sidenav>li:first-child>a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav>li:last-child>a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav>.active>a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}


/* Chevrons */

.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.bs-docs-sidenav>li>a:hover {
    background-color: #f5f5f5;
}

.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}

.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    opacity: 1;
}

.bs-docs-sidenav.affix {
    top: 40px;
}

.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}


/* Icons
------------------------- */

.the-icons {
    margin-left: 0;
    list-style: none;
}

.the-icons li {
    float: left;
    width: 25%;
    line-height: 25px;
}

.the-icons i:hover {
    background-color: rgba(255, 0, 0, .25);
}

.control-label .required {
    color: #e02222;
    font-size: 12px;
    padding-left: 2px;
}

.navbar .brand {
    font-size: 20px;
    font-weight: bold
}

.depth2 {
    list-style: none;
}

.depth2 li {
    padding: 5px 0;
}

.bs-docs-sidenav {
    margin-top: 0;
}

.muted {
    font-weight: bold;
    color: #000;
    font-size: 16px;
}

.table-bordered {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.table-bordered th {
    background-color: #eee;
}
.syntaxhighlighter{
    padding: 10px 0;
}
.syntaxhighlighter table td.code .line {
    padding: 0.3em 1em !important;
}
.g-code .syntaxhighlighter .gutter, .syntaxhighlighter .gutter {
    display: none !important;
}
.syntaxhighlighter .line.alt1 {
    background-color:#0e3826 !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a,
.htmlscript .comments{    color: #b1b1b1 !important;}
.toolbar{display:none;}
pre {
    display: block;
    padding: 10px 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

code,
pre {
    padding: 0;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 14px;
    color: #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.block-content .title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.desc {
    color: rgb(78, 154, 240)
}

.ref {
    color: rgb(228, 74, 74)
}

.in_highlight {
    margin-bottom: 10px;
}

.navbar .brand {
    padding: 9px 10px 9px;
    color: #000;
}

.navbar .brand img {
    width: 75px;
    margin-right: 10px;
}

.icon-eye-open {
    position: relative;
    top: 3px;
}

.progress {
    height: 30px;
    text-align: center;
    position: relative;
}

.progress span {
    font-size: 18px;
    color: #000;
    line-height: 27px;
}

.list_yoon {
    font-size: 16px;
}

.list_yoon li {
    line-height: 32px !important;
}

.load_html {
    margin: 1em;
}

.bar_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.p_total {
    font-size: 12px !important;
    color: #f00 !important;
}

.html_temp .list {
    width: 100%;
}

.html_temp table {
    width: 100%;
    border-collapse: collapse;
}

.html_temp table th {
    color: rgb(255, 255, 255);
    height: 25px;
    font-size: 11px;
    background: rgb(77, 77, 77);
    padding: 2px 0 0 5px;
    text-align: left;
    border: 1px solid #333;
}

.html_temp table td {
    border: 1px solid #666;
    color: #333333;
    font-size: 11px;
    height: 50px;
    padding: 2px 0 0 5px;
    word-wrap: break-word;
}

.html_temp table td.one {
    color: #F50002;
    font-size: 12px;
}

.html_temp table td.two {}

.html_temp span.lt {
    text-decoration: line-through;
}

.html_temp table td.gr {
    color: #008400;
}

.html_temp table td.Folder {
    font-family: verdana;
}

.html_temp table td.filename {
    font-family: verdana;
    color: #aaa;
}

.html_temp table td.type {
    font-family: verdana;
    color: #1928A5;
}

.html_temp table td.js-link {
    font-family: verdana;
    color: #147393;
}

.html_temp table td.depth {
    font-weight: bold;
}

.html_temp table td.etc .edit {
    color: #999;
    line-height: 130%;
    padding-top: 3px;
}

.html_temp .tab {
    color: #ffffff;
    height: 25px;
    font-size: 12px;
    background: #6ba5d0;
    padding: 2px 0 0 5px;
    text-align: center;
    border-left: 1px solid #E3E3E3;
    font-weight: bold;
}

.html_temp .tab a:link {
    color: #ffffff;
    font-weight: bold;
    TEXT-DECORATION: none;
}

.html_temp .tab a:visited {
    color: #ffffff;
    font-weight: bold;
    TEXT-DECORATION: none;
}

.html_temp .tab a:active {
    color: #ffffff;
    font-weight: bold;
    TEXT-DECORATION: none;
}

.html_temp .tab a:hover {
    color: #ffffff;
    font-weight: bold;
    TEXT-DECORATION: none;
}

.html_temp .tab_on {
    color: #ffffff;
    height: 25px;
    font-size: 12px;
    background: #2a83c5;
}

.html_temp .tab2 {
    color: #ffffff;
    height: 25px;
    font-size: 12px;
    background: #c0d0ff;
    padding: 2px 0 0 5px;
    text-align: center;
    border-left: 1px solid #E3E3E3;
    font-weight: bold;
}

.html_temp .tab_on2 {
    color: #ffffff;
    height: 25px;
    font-size: 12px;
    background: #2a83c5;
}

.html_temp .total {
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0 10px 0;
    padding: 0;
}

.html_temp ol,
li {}

.html_temp .line {
    height: 2px;
    background: rgb(131, 131, 131);
}

.html_temp .line-s {
    height: 2px;
    background: #E3E3E3;
}

.html_temp .pop {
    color: #008400;
}

.html_temp .mover {
    background-color: #F7F7F7;
}

.html_temp .mout {
    background-color: #fff;
}

.html_temp .red {
    color: #ff0000;
}

.html_temp .win {
    color: #0000ff;
}

.html_temp .second {
    background: #fafafa;
}

.html_temp .dummy {
    display: none;
}

.html_temp .work {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
}

.html_temp .ing {
    color: #0000ff
}

.html_temp .com {
    color: red;
}

.html_temp .txt_work_ing,
.txt_work_com {
    color: #0000ff
}

.html_temp .txt_modi_ing,
.txt_com {
    color: red;
}

.html_temp .box_txt {
    cursor: pointer;
}

.html_temp .box_txt_style {
    height: 52px;
    overflow: auto;
}

.html_temp .table_btns {
    overflow: hidden;
    margin: 1em 0;
}

.html_temp .table_btns button {
    float: left;
    margin-right: 5px;
}

.sche .date,
.notice .date {
    color: #3a87ad;
}

.worker .w_email {
    color: #b94a48;
}

.worker .w_tel {
    color: #468847;
}

.acc_table td,
.acc_table th {
    border: 1px solid #000;
}

.acc_table .t {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.acc_table .t .tt {
    font-size: 14px;
    font-weight: normal;
    color: #ff0000;
}

.acc_table .con {
    display: none;
    margin: 10px;
    background-color: rgb(214, 214, 214);
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
}

.acc_table .tl {
    padding: 5px;
}

.acc_table .con table {
    border: 1px solid #000;
    width: 100%;
}

.acc_table .con table th,
.acc_table .con table td {
    border: 1px solid #000;
    padding: 0 5px;
}

.acc_table .chk {
    background-color: rgb(17, 176, 255);
}

.dropdown-backdrop {
    z-index: 0;
    width: 0;
    height: 0;
}

.html_temp {
    overflow: hidden;
    overflow-x: scroll;
}

.html_temp .list {
    min-width: 768px;
}

.tree_dir {
    font-family: '나눔고딕', nanumgothic, '돋움', dotum;
    font-size: 12px;
    color: #000;
    line-height: 16px;
    margin: 0 0 10px 25px;
}

.tree_dir ul,
.tree_dir li,
.tree_dir span {
    margin: 0;
    padding: 0
}

.tree_dir li {
    list-style: none
}

.tree_dir .tree_ico {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 -4px 0 2px;
    vertical-align: top
}

.tree_dir .tree_ico img {
    vertical-align: top
}

.tree_dir .tree_label {
    margin-left: 3px;
    color: #000;
    vertical-align: top
}

.tree_dir .tree_label a {
    display: inline-block;
    margin: 3px 0 0 5px;
    padding-left: 10px;
    background: url(../image/ico_download.gif) no-repeat 0 1px;
    font-family: '돋움', dotum;
    font-size: 11px;
    color: #aaa;
    line-height: 13px;
    letter-spacing: -1px;
    vertical-align: top
}

.tree_dir ul {
    background: url(../images/bg_tree_stream.gif) repeat-y 9px 0
}

.tree_dir li {
    padding-left: 18px;
    background: url(../images/bg_tree_branch.gif) no-repeat 9px -22px
}

.tree_dir li.tree_last_node {
    margin-bottom: 4px;
    background: url(../images/bg_tree_branch_last.gif) no-repeat 9px -22px
}

.win_update {
    display: none;
}

.navbar .nav>li>a {
    float: none;
    padding: 14px 15px 14px;
}

.progress .bar_txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.progress .txt_current_total {
    font-size: 12px !important;
    color: #f00 !important;
}

.tbl_work_noti .btn_td_more {
    display: block;
    position: relative;
    height: 20px;
    overflow: hidden;
}

.tbl_work_noti .btn_td_more.on {
    overflow: auto;
    height: auto;
}

.tbl_work_noti tbody tr {
    display: none;
}

.tbl_work_noti tbody tr.on {
    display: table-row;
}

.con_work_notice .btn_noti_more {
    width: 100%;
}


/*ui_component*/

#top_menu {
    padding: 20px 10px;
}

#top_menu .btn_top_menu {
    margin-left: 5px;
}

.comp_content .btn_iframe {
    margin-left: 20px;
}

.comp_content .btn_copy {
    margin: 0 5px;
}

.comp_content .load_ifr {
    display: none;
}

.comp_content.block-content {
    margin: 0;
    padding: 0 10px;
}

.comp_content h3 {
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #000;
    line-height: 25px;
    text-align: center;
    background: #eee;
    margin-top: 10px;
}

.comp_content h3 a {
    float: right;
}

.comp_content iframe {
    /*border:1px dashed #000;*/
    padding: 5px 0;
}


/*schedule*/

.con_iframe {
    display: none;
}

.box_com_ifr {
    float: left;
    margin: 5px;
    border: 1px solid #ccc;
    background: #ccc;
    max-width: 100%;
    overflow: auto;
}

.ifr_wrap {
    width: 180px;
    height: 320px;
    padding: 0;
    overflow: hidden;
    background: #fff;
}

.frame {
    width: 1024px;
    height: 768px;
    border: 0;
    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.color_blue1 {
    color: #04c
}

.color_blue {
    color: #08c
}

.color_red {
    color: #f00
}

.on_complete {
    background: #deeffc;
}

.on_modify {
    background: #fcdede;
}

.on_end {
    background: #b2ddfe;
}

.on_over {
    background: #ccc;
}

.box_com_ifr .txt_scale {
    float: right;
}

.box_com_ifr .btn_toggle_100 {
    float: right;
}

[class*="tbl_sche"] {
    overflow: hidden;
}

[class*="tbl_sche"] .table_wrap {
    overflow-x: auto;
}

[class*="tbl_sche"] .table {
    min-width: 768px;
}


/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #1E1E1E;
    color: #DCDCDC;
    padding: 20px;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
    color: #569CD6;
}

.hljs-link {
    color: #569CD6;
    text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
    color: #4EC9B0;
}

.hljs-number,
.hljs-class {
    color: #B8D7A3;
}

.hljs-string,
.hljs-meta-string {
    color: #D69D85;
}

.hljs-regexp,
.hljs-template-tag {
    color: #9A5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
    color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
    color: #57A64A;
    font-style: italic;
}

.hljs-doctag {
    color: #608B4E;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
    color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
    color: #BD63C5;
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
    color: #9CDCFE;
}

.hljs-section {
    color: gold;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}


/*.hljs-code {
  font-family:'Monospace';
}*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #D7BA7D;
}

.hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
}

.hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
}