@charset "utf-8";
/************************************************
Version : 하나생명 1.0
Date : 2020-01-13
*************************************************/
/* -------------------------------------------------------------------------------
	Font
 ------------------------------------------------------------------------------- */
@font-face {
	font-family: 'NotoSansL';
	src: url('/pistmw/font/NotoSans-Light.eot'); /* IE9+ Compat Modes */
	src: url('/pistmw/font/NotoSans-Light.woff2') format('woff2'), /* Super Modern Browser */
         url('/pistmw/font/NotoSans-Light.woff') format('woff'), /* Modern Browser */
         url('/pistmw/font/NotoSans-Light.otf') format('opentype'); /* Android, iOS, Safari */
}
@font-face {
	font-family: 'NotoSansDL';
	src: url('/pistmw/font/NotoSans-DemiLight.eot');
	src: url('/pistmw/font/NotoSans-DemiLight.woff2') format('woff2'),
         url('/pistmw/font/NotoSans-DemiLight.woff') format('woff'),
         url('/pistmw/font/NotoSans-DemiLight.otf') format('opentype');
}
@font-face {
	font-family: 'NotoSansR';
	src: url('/pistmw/font/NotoSans-Regular.eot');
	src: url('/pistmw/font/NotoSans-Regular.woff2') format('woff2'),
         url('/pistmw/font/NotoSans-Regular.woff') format('woff'),
         url('/pistmw/font/NotoSans-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'NotoSansM';
	src: url('/pistmw/font/NotoSans-Medium.eot');
	src: url('/pistmw/font/NotoSans-Medium.woff2') format('woff2'),
         url('/pistmw/font/NotoSans-Medium.woff') format('woff'),
         url('/pistmw/font/NotoSans-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'NotoSansB';
	src: url('/pistmw/font/NotoSans-Bold.eot');
	src: url('/pistmw/font/NotoSans-Bold.woff2') format('woff2'),
         url('/pistmw/font/NotoSans-Bold.woff') format('woff'),
         url('/pistmw/font/NotoSans-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'RobotoL';
	src: url('/pistmw/font/Roboto-Light.eot');
	src: url('/pistmw/font/Roboto-Light.woff2') format('woff2'),
         url('/pistmw/font/Roboto-Light.woff') format('woff'),
         url('/pistmw/font/Roboto-Light.otf') format('opentype');
}
@font-face {
	font-family: 'RobotoR';
	src: url('/pistmw/font/Roboto-Regular.eot');
	src: url('/pistmw/font/Roboto-Regular.woff2') format('woff2'),
         url('/pistmw/font/Roboto-Regular.woff') format('woff'),
         url('/pistmw/font/Roboto-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'RobotoM';
	src: url('/pistmw/font/Roboto-Medium.eot');
	src: url('/pistmw/font/Roboto-Medium.woff2') format('woff2'),
         url('/pistmw/font/Roboto-Medium.woff') format('woff'),
         url('/pistmw/font/Roboto-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'RobotoB';
	src: url('/pistmw/font/Roboto-Bold.eot');
	src: url('/pistmw/font/Roboto-Bold.woff2') format('woff2'),
         url('/pistmw/font/Roboto-Bold.woff') format('woff'),
         url('/pistmw/font/Roboto-Bold.otf') format('opentype');
}
